.verde {
    background-color: green;
}

.naranja {
    background-color:orangered;
}

.azul {
    background-color: blue;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.plateado {
    background-color: silver;
}

.rosa {
    background-color: pink;
}

.lila {
    background-color:purple;
}

.azulclaro {
    background-color: turquoise;
}

.marron {
    background-color: brown;
}

.verdeclaro {
    background-color:greenyellow;
}

.or {
    background-color: gold;
}